html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Inter";
}

.button {
  padding: 12px 18px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 6px;
  transition: 0.3s;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
}

.input_message {
  border: 1px solid #dae0e6;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 6px;
  padding: 12px 16px;
}

nav {
  border-bottom: 1px solid #eaebf0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f8f9fb;
}

.container {
  padding: 0px 32px;
  width: 1280px;
  margin: auto;
  transition: 0.5s;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_container .left_side_navbar {
  display: flex;
  align-items: center;
  gap: 64px;
}
.navbar_container .left_side_navbar .navbar_links {
  width: 411px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.navbar_container .left_side_navbar .navbar_links a {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #272d37;
  text-decoration: none;
  transition: 0.3s;
}
.navbar_container .left_side_navbar .navbar_links a:hover {
  transform: scale(1.1);
}
.navbar_container .right_side_navbar {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.navbar_container .right_side_navbar button:first-child {
  color: #437ef7;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  box-shadow: none;
}
.navbar_container .right_side_navbar button:first-child:hover {
  transform: scale(1.1);
}
.navbar_container .right_side_navbar button:nth-child(2) {
  background-color: #437ef7;
  color: #ffffff;
}
.navbar_container .right_side_navbar button:nth-child(2):hover {
  color: #437ef7;
  background-color: #ffffff;
  transform: scale(1.1);
  border-color: #437ef7;
}
.navbar_container .right_side_navbar img {
  display: none;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 672px;
    padding: 0;
  }
  nav {
    padding: 0;
  }
  nav .navbar_container {
    padding: 0;
    height: 64px;
  }
  nav .navbar_container .left_side_navbar img {
    width: 128px;
    height: 32px;
  }
  nav .navbar_container .left_side_navbar .navbar_links {
    display: none;
  }
  nav .navbar_container .right_side_navbar > .button {
    display: none;
  }
  nav .navbar_container .right_side_navbar img {
    display: initial;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 343px;
    padding: 0;
  }
}
footer {
  display: flex;
  justify-content: center;
  padding: 64px 0px;
}
footer .footer_container {
  padding: 0px 32px;
  display: flex;
  justify-content: center;
}
footer .footer_container > div {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
footer .footer_container > div .top {
  width: 91px;
  display: flex;
  justify-content: space-between;
  width: 1216px;
}
footer .footer_container > div .top > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer_container > div .top > div:first-child img {
  width: 160px;
}
footer .footer_container > div .top > div:first-child p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #5f6d7e;
  width: 247px;
}
footer .footer_container > div .top > div:first-child .icons {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
footer .footer_container > div .top > div:first-child .icons a img {
  width: 24px;
  height: 24px;
}
footer .footer_container > div .top .lists {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
footer .footer_container > div .top .lists h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  color: #272d37;
}
footer .footer_container > div .top .lists ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .footer_container > div .top .lists ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 500;
  color: #5f6d7e;
}
footer .footer_container > div .top > div:nth-child(2) {
  height: 180px;
  display: none;
}
footer .footer_container > div .top > div:nth-child(4) > ul:last-child {
  display: none;
}
footer .footer_container > div .top > div:last-child > ul:last-child {
  display: none;
}
footer .footer_container > div .bottom {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
footer .footer_container > div .bottom div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #5f6d7e;
}
footer .footer_container > div .bottom div .icons_bottom {
  display: none;
}

@media screen and (max-width: 1280px) {
  footer {
    padding: 40px 32px;
  }
  footer .footer_container {
    width: 100%;
    padding: 0;
  }
  footer .footer_container > div {
    width: 704px;
  }
  footer .footer_container > div .top {
    width: 100%;
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 64px;
    flex-direction: initial;
    flex-wrap: wrap;
  }
  footer .footer_container > div .top > div:first-child {
    width: 448px;
  }
  footer .footer_container > div .top > div:first-child .icons {
    display: none;
  }
  footer .footer_container > div .top > div:nth-child(2) {
    display: flex;
  }
  footer .footer_container > div .top > div:nth-child(3) ul > li:nth-child(2) {
    display: none;
  }
  footer .footer_container > div .top > div:nth-child(4) > ul:nth-child(2) {
    display: none;
  }
  footer .footer_container > div .top > div:nth-child(4) > ul:last-child {
    display: flex;
  }
  footer .footer_container > div .top > div:nth-child(5) {
    display: none;
  }
  footer .footer_container > div .top > div:last-child > ul:nth-child(2) {
    display: none;
  }
  footer .footer_container > div .top > div:last-child > ul:last-child {
    display: flex;
  }
  footer .footer_container > div .top .lists {
    width: 192px;
  }
  footer .footer_container > div .bottom {
    width: 704px;
  }
  footer .footer_container > div .bottom > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  footer .footer_container > div .bottom > div p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
  footer .footer_container > div .bottom > div .icons_bottom {
    display: flex;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  footer .footer_container > div .bottom > div .icons_bottom a img {
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 32px 16px;
  }
  footer .footer_container > div {
    width: 343px;
    gap: 24px;
  }
  footer .footer_container > div .top {
    row-gap: 24px;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  footer .footer_container > div .top > div:first-child {
    width: 343px;
  }
  footer .footer_container > div .top > div:first-child p {
    width: 343px;
  }
  footer .footer_container > div .top > div:first-child .icons {
    display: flex;
    justify-content: space-around;
  }
  footer .footer_container > div .top > div:nth-child(2) {
    display: none;
  }
  footer .footer_container > div .top > div:nth-child(3) ul > li:nth-child(2) {
    display: initial;
  }
  footer .footer_container > div .top > div:nth-child(4) > ul:nth-child(2) {
    display: flex;
  }
  footer .footer_container > div .top > div:nth-child(4) > ul:last-child {
    display: none;
  }
  footer .footer_container > div .top > div:nth-child(5) {
    display: flex;
  }
  footer .footer_container > div .top > div:last-child > ul:nth-child(2) {
    display: flex;
  }
  footer .footer_container > div .top > div:last-child > ul:last-child {
    display: none;
  }
  footer .footer_container > div .top .lists {
    width: 146px;
  }
  footer .footer_container > div .bottom {
    width: 343px;
    gap: 8px;
  }
  footer .footer_container > div .bottom > div {
    justify-content: center;
  }
  footer .footer_container > div .bottom > div p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
  }
  footer .footer_container > div .bottom > div .icons_bottom {
    display: none;
  }
}
.welcome {
  background-color: #f8f9fb;
}
.welcome .welcome_container {
  padding: 80px 30px 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome .welcome_container .welcome_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 640px;
}
.welcome .welcome_container .welcome_text p {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #437ef7;
}
.welcome .welcome_container .welcome_text h1 {
  width: 580px;
  font-weight: 700;
  font-size: 52px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #272d37;
}
.welcome .welcome_container .welcome_text h1 > span:first-child,
.welcome .welcome_container .welcome_text h1 :last-child {
  display: none;
}

@media screen and (max-width: 1280px) {
  .welcome {
    padding: 48px 48px 40px;
  }
  .welcome .welcome_container {
    width: 672px;
    height: 196px;
    padding: 0;
  }
  .welcome .welcome_container .welcome_text {
    width: 672px;
  }
  .welcome .welcome_container .welcome_text h1 {
    width: 672px;
  }
  .welcome .welcome_container .welcome_text h1 span:first-child,
  .welcome .welcome_container .welcome_text h1 :last-child {
    display: initial;
  }
  .welcome .welcome_container .welcome_text h1 span:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .welcome {
    padding: 32px 16px 40px;
  }
  .welcome .welcome_container {
    width: 343px;
    height: 184px;
  }
  .welcome .welcome_container .welcome_text h1 {
    width: 343px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
  }
}
.cards {
  padding: 64px 0px;
}
.cards .cards_container {
  display: flex;
  padding: 0px 32px;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}
.cards .cards_container .card {
  transition: 0.3s;
  width: 384px;
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  gap: 24px;
  border: 1px solid #eaebf0;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 5px;
  cursor: pointer;
}
.cards .cards_container .card:first-child {
  height: 182px;
}
.cards .cards_container .card:first-child .text > p:last-child {
  display: none;
}
.cards .cards_container .card .head {
  display: flex;
  justify-content: space-between;
}
.cards .cards_container .card .head > button {
  background-color: #ffffff;
  color: #272d37;
  border-color: #dae0e6;
}
.cards .cards_container .card .head > button:hover {
  color: #ffffff;
  background-color: #272d37;
  transform: scale(1.1);
  border-color: #ffffff;
}
.cards .cards_container .card .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cards .cards_container .card .text h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #272d37;
}
.cards .cards_container .card .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #5f6d7e;
}
.cards .cards_container .card:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1280px) {
  .cards {
    padding: 40px 32px;
  }
  .cards .cards_container {
    gap: 24px;
    padding: 0;
    width: 704px;
  }
  .cards .cards_container .card {
    width: 340px;
  }
}
@media screen and (max-width: 768px) {
  .cards {
    padding: 32px 16px;
  }
  .cards .cards_container {
    gap: 16px;
    width: 343px;
  }
  .cards .cards_container .card {
    width: 343px;
    height: 180px;
    padding: 16px;
    gap: 16px;
  }
  .cards .cards_container .card:first-child .text > p:nth-child(2) {
    display: none;
  }
  .cards .cards_container .card:first-child .text > p:last-child {
    display: initial;
  }
  .cards .cards_container .card:last-child {
    display: none;
  }
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
}
.message .message_container {
  margin: 64px 0;
  padding: 0px 32px;
}
.message .message_container .submit {
  background-color: #f8f9fb;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.message .message_container .submit input,
.message .message_container .submit select,
.message .message_container .submit textarea {
  transition: 0.3s;
}
.message .message_container .submit input:hover,
.message .message_container .submit select:hover,
.message .message_container .submit textarea:hover {
  border-color: black;
}
.message .message_container .submit input:focus,
.message .message_container .submit select:focus,
.message .message_container .submit textarea:focus {
  transform: scale(1.04);
}
.message .message_container .submit .input {
  width: 564px;
  height: 74px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.message .message_container .submit .input label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #272d37;
}
.message .message_container .submit .input select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("..//Images/Icons/dropdown.svg");
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: auto 15%;
}
.message .message_container .submit .message_input {
  box-sizing: border-box;
  width: 1152px;
  height: 175px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.message .message_container .submit .message_input > textarea {
  box-sizing: border-box;
  width: 1152px;
  height: 147px;
  resize: none;
}
.message .message_container .submit .agree {
  display: flex;
  gap: 12px;
}
.message .message_container .submit .agree input {
  width: 20px;
  height: 20px;
  border: 2px solid #dae0e6;
  border-radius: 5px;
}
.message .message_container .submit .agree label {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #272d37;
  width: 1120px;
}
.message .message_container .submit button {
  background-color: #437ef7;
  color: #ffffff;
}
.message .message_container .submit button:hover {
  color: #437ef7;
  background-color: #ffffff;
  transform: scale(1.1);
  border-color: #437ef7;
}

@media screen and (max-width: 1280px) {
  .message {
    padding: 48px 32px;
  }
  .message .message_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .message .message_container .submit {
    width: 704px;
  }
  .message .message_container .submit .input {
    width: 308px;
  }
  .message .message_container .submit .message_input {
    width: 640px;
  }
  .message .message_container .submit .message_input textarea {
    width: 640px;
    height: 147px;
  }
  .message .message_container .submit .agree label {
    width: 608px;
  }
}
@media screen and (max-width: 768px) {
  .message {
    padding: 40px 0;
  }
  .message .message_container {
    padding: 0;
    margin: 0;
  }
  .message .message_container .submit {
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .message .message_container .submit .input {
    width: 343px;
  }
  .message .message_container .submit .message_input {
    width: 343px;
  }
  .message .message_container .submit .message_input textarea {
    width: 343px;
    height: 145px;
  }
  .message .message_container .submit .agree label {
    width: 311px;
  }
  .message .message_container .submit button {
    width: 343px;
    justify-content: center;
  }
}
.leftToRight {
  background-color: #151b28;
  padding: 64px 0px;
  display: flex;
  justify-content: center;
}
.leftToRight .leftTo_container {
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
}
.leftToRight .leftTo_container .left_side {
  display: flex;
  align-items: center;
}
.leftToRight .leftTo_container .left_side .textLeft {
  width: 516px;
}
.leftToRight .leftTo_container .left_side .textLeft > p:first-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #437ef7;
  margin-bottom: 8px;
}
.leftToRight .leftTo_container .left_side .textLeft h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.01em;
  color: #f9f9f9;
  margin-bottom: 16px;
}
.leftToRight .leftTo_container .left_side .textLeft > p:nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #a5acba;
  margin-bottom: 40px;
}
.leftToRight .leftTo_container .left_side .textLeft button {
  background-color: #437ef7;
  color: #ffffff;
}
.leftToRight .leftTo_container .left_side .textLeft button:hover {
  color: #437ef7;
  background-color: #ffffff;
  transform: scale(1.1);
  border-color: #437ef7;
}
.leftToRight .leftTo_container .right_side > img:first-child {
  width: 560px;
}
.leftToRight .leftTo_container .right_side > img:last-child {
  width: 704px;
  display: none;
}

@media screen and (max-width: 1280px) {
  .leftToRight {
    padding: 40px 32px;
  }
  .leftToRight .leftTo_container {
    width: 100%;
    padding: 0;
    gap: 48px;
    flex-direction: column;
    align-items: center;
  }
  .leftToRight .leftTo_container .left_side .textLeft {
    width: 704px;
  }
  .leftToRight .leftTo_container .right_side > img:first-child {
    display: none;
  }
  .leftToRight .leftTo_container .right_side > img:last-child {
    display: initial;
  }
}
@media screen and (max-width: 768px) {
  .leftToRight {
    padding: 32px 16px;
  }
  .leftToRight .leftTo_container {
    gap: 32px;
  }
  .leftToRight .leftTo_container .left_side .textLeft {
    width: 343px;
  }
  .leftToRight .leftTo_container .left_side .textLeft h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.02em;
  }
  .leftToRight .leftTo_container .right_side > img:first-child {
    display: initial;
    width: 343px;
  }
  .leftToRight .leftTo_container .right_side > img:last-child {
    display: none;
  }
}