nav {
  border-bottom: 1px solid $card_border;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $background_neutral;
}
.container {
  padding: 0px 32px;
  width: 1280px;
  margin: auto;
  transition: 0.5s;
}
.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left_side_navbar {
    display: flex;
    align-items: center;
    gap: 64px;
    .navbar_links {
      width: 411px;
      display: flex;
      align-items: center;
      gap: 32px;
      a {
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        color: #272d37;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .right_side_navbar {
    display: flex;
    column-gap: 24px;
    button {
      &:first-child {
        color: $button_blue_colors;
        background-color: transparent;
        padding: 0;
        display: flex;
        align-items: center;
        box-shadow: none;
        &:hover {
          transform: scale(1.1);
        }
      }
      &:nth-child(2) {
        @include buttons_form($button_blue_colors, $white);
      }
    }
    img {
      cursor: pointer;
      transition: 0.3s;
      display: none;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .container {
    width: 672px;
    padding: 0;
  }
  nav {
    padding: 0;
    .navbar_container {
      padding: 0;
      height: 64px;
      .left_side_navbar {
        img {
          width: 128px;
          height: 32px;
        }
        .navbar_links {
          display: none;
        }
      }
      .right_side_navbar {
        & > .button {
          display: none;
        }
        img {
          display: initial;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 343px;
    padding: 0;
  }
}
