.container {
  padding: 0px 32px;
  width: 1280px;
  margin: auto;
}
.welcome_container {
  padding: 80px 30px 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  .welcome_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 640px;
    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: -0.1px;
      color: $text_blue;
    }
    h1 {
      font-weight: 700;
      font-size: 52px;
      line-height: 60px;
      text-align: center;
      letter-spacing: -0.01em;
      color: $text_gray;
    }
  }
}
