@import "../utils/mixins";

.welcome {
  background-color: $background_neutral;
  .welcome_container {
    padding: 80px 30px 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    .welcome_text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      width: 640px;
      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.1px;
        color: $text_blue;
      }
      h1 {
        width: 580px;
        font-weight: 700;
        font-size: 52px;
        line-height: 60px;
        text-align: center;
        letter-spacing: -0.01em;
        color: $text_gray;
        & > span:first-child,
        :last-child {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .welcome {
    padding: 48px 48px 40px;
    .welcome_container {
      width: 672px;
      height: 196px;
      padding: 0;
      .welcome_text {
        width: 672px;
        h1 {
          width: 672px;
          span:first-child,
          :last-child {
            display: initial;
          }
          span:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .welcome {
    padding: 32px 16px 40px;
    .welcome_container {
      width: 343px;
      height: 184px;
      .welcome_text {
        h1 {
          width: 343px;
          @include HeadlinexL;
        }
      }
    }
  }
}
.cards {
  padding: 64px 0px;
  .cards_container {
    display: flex;
    padding: 0px 32px;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    .card {
      &:first-child {
        height: 182px;
        .text {
          & > p:last-child {
            display: none;
          }
        }
      }
      transition: 0.3s;
      width: 384px;
      display: flex;
      flex-direction: column;
      padding: 24px 32px;
      gap: 24px;
      border: 1px solid $card_border;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
      border-radius: 5px;
      cursor: pointer;
      .head {
        display: flex;
        justify-content: space-between;
        & > button {
          @include buttons_form($white, $text_gray);
          border-color: $button_border_gray;
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        h2 {
          @include HeadlineXS;
          color: $text_gray;
        }
        p {
          @include TextL;
          color: $text_gray_50;
        }
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .cards {
    padding: 40px 32px;
    .cards_container {
      gap: 24px;
      padding: 0;
      width: 704px;
      .card {
        width: 340px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .cards {
    padding: 32px 16px;
    .cards_container {
      gap: 16px;
      width: 343px;
      .card {
        width: 343px;
        height: 180px;
        padding: 16px;
        gap: 16px;
        &:first-child {
          .text {
            & > p:nth-child(2) {
              display: none;
            }
            & > p:last-child {
              display: initial;
            }
          }
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  .message_container {
    margin: 64px 0;
    padding: 0px 32px;
    .submit {
      background-color: $background_neutral;
      padding: 32px;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      input,
      select,
      textarea {
        transition: 0.3s;
        &:hover {
          border-color: $black;
        }
        &:focus {
          transform: scale(1.04);
        }
      }
      .input {
        width: 564px;
        height: 74px;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        label {
          @include TextS;
          color: $text_gray;
        }
        select {
          appearance: none;
          background-image: url("..//Images/Icons/dropdown.svg");
          background-position: right 15px center;
          background-repeat: no-repeat;
          background-size: auto 15%;
        }
      }
      .message_input {
        box-sizing: border-box;
        width: 1152px;
        height: 175px;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        & > textarea {
          box-sizing: border-box;
          width: 1152px;
          height: 147px;
          resize: none;
        }
      }
      .agree {
        display: flex;
        gap: 12px;
        input {
          width: 20px;
          height: 20px;
          border: 2px solid $button_border_gray;
          border-radius: 5px;
        }
        label {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.1px;
          color: $text_gray;
          width: 1120px;
        }
      }
      button {
        @include buttons_form($button_blue_colors, $white);
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .message {
    padding: 48px 32px;
    .message_container {
      width: 100%;
      display: flex;
      justify-content: center;
      .submit {
        width: 704px;
        .input {
          width: 308px;
        }
        .message_input {
          width: 640px;
          textarea {
            width: 640px;
            height: 147px;
          }
        }
        .agree {
          label {
            width: 608px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .message {
    padding: 40px 0;
    .message_container {
      padding: 0;
      margin: 0;
      .submit {
        padding: 0;
        width: 100%;
        background-color: $white;
        display: flex;
        align-items: center;
        flex-direction: column;
        .input {
          width: 343px;
        }
        .message_input {
          width: 343px;
          textarea {
            width: 343px;
            height: 145px;
          }
        }
        .agree {
          label {
            width: 311px;
          }
        }
        button {
          width: 343px;
          justify-content: center;
        }
      }
    }
  }
}
.leftToRight {
  background-color: $background_gray;
  padding: 64px 0px;
  display: flex;
  justify-content: center;
  .leftTo_container {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    .left_side {
      display: flex;
      align-items: center;
      .textLeft {
        width: 516px;
        & > p:first-child {
          @include TextS;
          color: $text_blue;
          margin-bottom: 8px;
        }
        h2 {
          @include HeadlineM;
          color: $text_neutral_200;
          margin-bottom: 16px;
        }
        & > p:nth-child(3) {
          @include TextL;
          color: $text_neutral;
          margin-bottom: 40px;
        }
        button {
          @include buttons_form($button_blue_colors, $white);
        }
      }
    }
    .right_side {
      & > img:first-child {
        width: 560px;
      }
      & > img:last-child {
        width: 704px;
        display: none;
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .leftToRight {
    padding: 40px 32px;
    .leftTo_container {
      width: 100%;
      padding: 0;
      gap: 48px;
      flex-direction: column;
      align-items: center;
      .left_side {
        .textLeft {
          width: 704px;
        }
      }
      .right_side {
        & > img:first-child {
          display: none;
        }
        & > img:last-child {
          display: initial;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .leftToRight {
    padding: 32px 16px;
    .leftTo_container {
      gap: 32px;
      .left_side {
        .textLeft {
          width: 343px;
          h2 {
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: -0.02em;
          }
        }
      }
      .right_side {
        & > img:first-child {
          display: initial;
          width: 343px;
        }
        & > img:last-child {
          display: none;
        }
      }
    }
  }
}
