$button_blue_colors: #437ef7;
$background_neutral: #f8f9fb;
$background_gray: #151b28;
$text_neutral: #a5acba;
$text_gray: #272d37;
$text_blue: #437ef7;
$text_gray_50: #5f6d7e;
$white: #ffffff;
$card_border: #eaebf0;
$button_border_gray: #dae0e6;
