@mixin buttons_form($background_color, $color) {
  background-color: $background_color;
  color: $color;
  &:hover {
    color: $background_color;
    background-color: $color;
    transform: scale(1.1);
    border-color: $background_color;
  }
}
@mixin HeadlineXS {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.01em;
}
@mixin HeadlineM {
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.01em;
}
@mixin HeadlinexL {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
}
@mixin TextL {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
}
@mixin TextS {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}
